@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EFF6FD;
  height: 100vh;
  position: relative;
  font-weight: 400;
  font-size: 16px;
}

input {
  border: 1px solid #DEDEE1;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
}

img {
  width: 16px;
  text-align: center;
}

button {
  color: white;
  background-color: #4BA9FF;
  border: 1px solid #DEDEE1;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes addRow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes deleteRow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}