@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EFF6FD;
  height: 100vh;
  position: relative;
  font-weight: 400;
  font-size: 16px;
}

table {
  padding: 30px;
  vertical-align: middle;
  border: 1px solid #DEDEE1;
  border-radius: 8px;
  background-color: white;

  tr {
    margin: 20px;
    animation: addRow 0.4s 1 linear;
  }

  td {
    padding: 8px 12px;
  }

  td:has(img), td:first-child {
    text-align: center;
  }

  td:has(input) {
    padding: 0 8px;
  }

  tr.delete {
    animation: deleteRow 0.4s 1 linear;
  }

  .star {
    width: 23px;
    height: 23px;
    margin-bottom: 48px;
  }
}

input {
  border: 1px solid #DEDEE1;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
}

img {
  width: 16px;
  text-align: center;
}

button {
  color: white;
  background-color: #4BA9FF;
  border: 1px solid #DEDEE1;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes addRow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes deleteRow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}